/.idea/
/precheck_results/
*/tmp
*.hex*
*.lst
*.vcd
*.gtkw
/env
/venv/
/venv-cocotb/
/caravel/
runs/
/dependencies/
/mgmt_core_wrapper/
/logs
lvs_results/
__pycache__/
openlane/.venv/

# Large generated physical design files
*.gds
*.mag
*.def
verilog/gl/openframe_project_wrapper.v

# Simulation binaries and outputs
*.vvp
verilog/dv/cocotb/sim/
